* {
  box-sizing: border-box;
}
.framer-GNqAy .framer-3gevkx {
  flex: none;
  height: 835px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 531px;
  transform: perspective(1200px);
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.framer-GNqAy .framer-1o6yxmp {
  aspect-ratio: 0.5076347771891555 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 2459px);
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 1248px;
  z-index: 1;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.primary-btn {
  background-color: #4263eb;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
  filter: brightness(110%);
}

.gap-md {
  gap: 6px;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.p-10 {
  padding: 40px;
}

.main-header {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  width: 1056px;
  margin: 0px auto;
  margin-top: 76px;
  margin-bottom: 34px;
  padding-top: 50px;
}

.sub-header {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  width: 806px;
  margin: 0px auto;
  margin-top: 76px;
  margin-bottom: 64px;
  letter-spacing: -0.3px;
  line-height: 43.71px;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.step {
  position: absolute;
  left: -20px;
  transition: all 0.2s ease-in-out;
}

.step:hover {
  scale: 1.1;
}

.create-account {
  top: 27px;
}

.link-financial {
  bottom: 27px;
}

.create-card {
  top: 27px;
}

p {
  margin: 0px;
}

.image {
  width: 251px;
}

.layout {
  padding: 40px;
}

.step-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-header {
  font-size: 48px;
  width: 422px;
}

.card-layout {
  flex-direction: row;
  padding: 80px;
}
.button-layout {
  flex-direction: row;
}

.footer-layout {
  justify-content: space-between;
  padding: 60px 30px;
}

.animation-layout {
  height: 1500px;
}

.header-layout {
  justify-content: space-between;
}

.framer-h73xm4 {
  flex: none;
  height: 2131px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.step-container {
  width: 400px;
}

@media (max-width: 1200px) {
  .main-header {
    width: calc(100vw - 50px);
    font-size: 32px;
  }
  .layout {
    padding: 20px;
  }
  .sub-header {
    font-size: 25px;
    width: calc(100vw - 50px);
  }
  .step-layout {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .card-image {
    display: none;
  }
  .card-header {
    font-size: 32px;
    text-align: center;
    width: auto;
  }
  .card-layout {
    justify-content: center;
    padding: 40px;
  }
  .card-sub-layout {
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 810px) {
  .image {
    width: 251px;
  }
  .main-header {
    width: calc(100vw - 50px);
    font-size: 24px;
  }
  .layout {
    padding: 12px;
  }
  .sub-header {
    font-size: 24px;
    width: calc(100vw - 50px);
    margin-top: 0px;
  }
  .card-header {
    font-size: 24px;
  }
  .button-layout {
    flex-direction: column;
  }
  .frame {
    display: none;
  }
  .footer-layout {
    justify-content: center;
    padding: 60px 30px 80px 30px;
  }
  .animation-layout {
    height: 1200px;
  }
  .framer-h73xm4 {
    height: 2973px;
    order: 3;
  }
  .header-layout {
    justify-content: center;
  }
  .button-layout {
    display: none;
  }
  .step-container {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
  .step {
    left: -15px;
  }
  .create-account {
    width: 90vw;
    top: 27px;
  }
  
  .link-financial {
    width: 90vw;
    bottom: 27px;
  }
  
  .create-card {
    width: 90vw;
    top: 27px;
  }

  .main-header{
    margin-top: 0px;
  }
  
}
